body{
    background-color: bisque;
    font-style: normal;
}
.main{
    width: 90%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: cyan;
}

h2{
    margin-top: 0;
    color: darkblue;
}

.encabezado{
    background-color: darkgray;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 5px 10px black;
}
h3{
    color: crimson;
}